<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrunchApiExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrunchApiExplorer.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SharedSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestTokenEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAuthorizationEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseAddress" serializeAs="String">
                <value />
            </setting>
        </CrunchApiExplorer.Properties.Settings>
    </userSettings>
</configuration>